/* Style for the container that holds the episode details */
.episode-details-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Style for the card that displays podcast and episode information */
.podcast-episode-card {
    flex: 0 0 calc(25% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
    height: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Style for the podcast image inside the card */
.podcast-episode-card img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
}

/* Style for the card on hover */
.podcast-episode-card:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

/* Style for the episode information inside the card */
.episode-info p {
    margin: 5px 0;
    font-style: italic;
}

/* Style for the container that holds the main episode details */
.episode-details-content {
    flex: 1 1;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Style for the main episode details container on hover */
.episode-details-content:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

/* Style for the paragraphs inside the main episode details container */
.episode-details-content p {
    margin: 5px 0;
}

/* Media query for responsiveness: When the screen width is 900px or less */
@media screen and (max-width: 900px) {
    .podcast-episode-card {
        flex: 0 0 calc(50% - 20px);
    }

    .episode-details-content {
        flex: 1 1 calc(50% - 20px);
    }
}

/* Media query for responsiveness: When the screen width is 600px or less */
@media screen and (max-width: 600px) {
    .podcast-episode-card {
        flex: 0 0 100%;
    }

    .episode-details-content {
        flex: 0 0 100%;
        margin-left: 0;
    }
}