/* Styles for the h1 elements */
h1 {
    color: #2577BE; /* Blue color for h1 elements */
}

/* Styles for anchor (link) elements */
a {
    color: inherit; /* Inherit color from parent */
    text-decoration: inherit; /* Inherit text-decoration from parent */
}

/* Styles for the home container */
.home-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Styles for the search bar */
.search-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

/* Styles for the input inside the search bar */
.search-bar input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

/* Styles for the search number badge */
.search-number {
    margin-right: 8px;
    padding: 4px;
    border-radius: 20px;
    background-color: #2577BE;
    color: #fff;
    font-weight: bold;
}

/* Styles for the podcast cards container */
.podcast-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -10px;
}

/* Styles for each individual podcast card */
.podcast-card {
    width: calc(20% - 20px);
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

/* Styles for each podcast card on hover */
.podcast-card:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

/* Styles for the image container */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    height: 120px;
}

/* Styles for the podcast image */
.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Styles for the podcast details container */
.podcast-details {
    margin-top: 10px;
}

/* Styles for the h3 elements inside the podcast details container */
.podcast-details h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

/* Styles for the p elements inside the podcast details container */
.podcast-details p {
    font-size: 14px;
    margin: 5px 0;
}

/* Media query for responsiveness: When the screen width is 1200px or less */
@media screen and (max-width: 1200px) {
    .podcast-card {
        width: calc(25% - 20px);
    }
}

/* Media query for responsiveness: When the screen width is 900px or less */
@media screen and (max-width: 900px) {
    .podcast-card {
        width: calc(33.33% - 20px);
    }
}

/* Media query for responsiveness: When the screen width is 600px or less */
@media screen and (max-width: 600px) {
    .podcast-card {
        width: 50%;
    }
}