/* Styles for the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    max-width: 100%;
    overflow: hidden;
}

/* Styles for the navbar title */
.navbar-title {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

/* Styles for the navbar links container */
.navbar-links {
    display: flex;
    align-items: center;
}

/* Styles for the navbar links */
.navbar-links a {
    color: #2577BE;
    margin-left: 20px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

/* Media query for responsiveness */
@media screen and (max-width: 900px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        width: 100%; /* Make the navbar full width */
    }

    .navbar-title {
        margin-bottom: 10px;
    }

    .navbar-links {
        margin-top: 10px;
    }

    .navbar-links a {
        font-size: 20px;
        margin-left: 0;
        margin-right: 20px;
    }
}