/* Styles for the container of the product details page */
.product-details-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto; /* Center the container horizontally */
}

/* Styles for the podcast details card */
.podcast-details-card {
    flex: 0 0 calc(25% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
    height: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Styles for the podcast details card image */
.podcast-details-card img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
}

/* Styles for the podcast details card on hover */
.podcast-details-card:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

/* Styles for the paragraphs within the podcast details card */
.podcast-info p {
    margin: 5px 0;
    font-style: italic;
}

/* Styles for the episodes container */
.episodes-container {
    flex: 1 1 calc(75% - 40px);
    display: flex;
    flex-direction: column;
}

/* Styles for the episodes header */
.episodes-header {
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: left;
}

/* Styles for the episodes header on hover */
.episodes-header:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

/* Styles for the episodes table */
.episodes-table {
    flex: 1 1;
    padding: 20px;
    margin: 0 10px 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Styles for the episodes table on hover */
.episodes-table:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

/* Styles for the heading within the episodes table */
.episodes-table h2 {
    color: #2577BE;
}

/* Styles for the table and its cells */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

/* Styles for the table heading */
table th {
    text-align: left;
    font-weight: bold;
}

/* Add media queries for responsiveness */
@media screen and (max-width: 900px) {
    .podcast-details-card,
    .episodes-container {
        flex: 0 0 calc(50% - 20px);
    }
}

@media screen and (max-width: 600px) {
    .podcast-details-card,
    .episodes-container {
        flex: 0 0 100%;
        margin-left: 0;
    }
}